<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
			<title>IMS</title>
		<span th:substituteby="commons :: common-css"></span>
	</head>
	
	<body>	
		<div id="headerbar" class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">

					<span class="brand">Home</span>

					<div class="nav-collapse collapse">
						<ul class="nav pull-right">
							<li><a th:href="@{/}">Home</a></li>
							<li><a th:href="@{/product}">Product</a></li>
							<li><a th:href="@{/order}">Order</a></li>
						</ul>

					</div>
				</div>
			</div>
		</div>

		<div class="card-body">
			<div class="container">
				<div class="jumbotron">
					<h1 class="text-center">Inventory management system</h1>
				</div>
			</div>
		</div>
		<br>
				<div class="card-body">
			<div class="container">
				<div class="jumbotron">
					<h3 class="text-center" th:utext="${success}"></h3>
				</div>
			</div>
		</div>
	

		<span th:substituteby="commons :: common-html"></span>
		<span th:substituteby="commons :: common-js"></span>
	</body>
</html>