<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>IMS</title>
		<span th:substituteby="commons :: common-css"></span>
	</head>
	
	<body th:with="isNew=${#strings.isEmpty(order.id)}">	
		<div id="headerbar" class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">

					<span class="brand">Order</span>

					<div class="nav-collapse collapse">
						<ul class="nav pull-right" th:if="${isNew}">
							<li><a class="viewmode updatebutton addbutton submit" id="headerconfirmbutton" >Add to cart</a></li>
							<li><a th:href="@{/}">Home</a></li>
							<li><a th:href="@{/product}">Product</a></li>
							<li><a th:href="@{/order}">Order</a></li>
						</ul>
						<ul class="nav pull-right" th:unless="${isNew}">
							<li><a class="editmode" id="addbutton" th:href="@{'/person'}" th:text="#{action.add}">Add</a></li>
							<li><a class="editmode" id="updatebutton" th:text="#{action.update}">Update</a></li>
							<li class="nodisplay"><a class="viewmode updatebutton addbutton submit" id="headerconfirmbutton" th:text="#{action.save}">Save</a></li>
							<li class="nodisplay"><a class="viewmode updatebutton" id="headercancelbutton" th:text="#{action.cancel}">Cancel</a></li>
						</ul>
						<form id="searchform" class="navbar-search pull-right" method="get" th:action="@{'/product/'}">
							<input id="datasearchfield" class="typeahead search-query" type="text" placeholder="Search" data-provide="typeahead" th:attr="data-search-url=@{'/search/product/'}" />
							<input class="typeahead-val" type="hidden" name="code" value="" />
							<input class="typeahead-desc" type="hidden" value="" />
						</form>
					</div>
				</div>
			</div>
		</div>
		<div id="container" class="container">		
		<header id="overview" class="subhead">
			<div class="subnav-fixed subnav" id="subnavscroll" style="top: 66px;">
				<ul class="nav nav-pills">
					<li class=""><a href="#add-order">Add order</a></li>
					<li class=""><a href="#order-table">Order table</a></li>
				</ul>
			</div>
		</header>
		
			<form id="mainform" th:object="${order}" class="form-horizontal" method="POST" autocomplete="off" th:action="@{'/order'}">
				<section id="add-order">
				<div class="page-header sectionbartoggle" tabindex="0">
					<h1>
						<small><i class="icon-chevron-down"></i><span>Add order</span></small>
					</h1>
				</div>
					<div class="row anything noheader">
						<div class="span6">
							<fieldset>						
							<!-- for radiobox -->
								<div class="control-group">
									<label for="groupofradios" class="control-label">Order type</label>
									<div class="controls">
										<label class="radio">
								            <input type="radio" data-required="required" id="groupofradios2radio1" value="sale" th:field="*{orderType}" name="radio-order-type" class="include" checked/>
								            Sale
								        </label>
								        <label class="radio">
								            <input type="radio" data-required="required" id="groupofradios2radio2" value="purchase" th:field="*{orderType}" name="radio-order-type" class="include"/>
								            Purchase
								        </label>
									</div>
								</div>
							<!-- Highes Degree using Select input -->
							<div class="control-group">
							    <label for="selectwithinputs" class="control-label">Product name</label>
							    <div class="controls">
							        <select th:field="*{productName}" class="input-large include" id="selectwithinputs">
							            <option value="">Select Product</option>
							            <option th:each="product: ${productNames}" th:text="${product.productName}" th:attr="price=${product.productPrice},id=${product.id}" th:value="${product.productName}"  />
							        </select>
							    </div>
							</div>
							</fieldset>
						
						</div>
						<div class="span6">
						 <fieldset>
							<div class="control-group">
								<label for="product-quantity" class="control-label">Product quantity</label>
								<div class="controls">
									<input id="product-quantity"  th:field="*{productQuantity}" data-required="required" type="text" data-maxlength="50"
										class="include qty-input" placeholder="Product qantity" /> 
								</div>
							</div>
							<div class="control-group">
								<label for="product-price" class="control-label">Product price</label>
								<div class="controls">
									<input id="product-price"  th:field="*{productPrice}" data-required="required" type="text" data-maxlength="50"
										class="include price-input" placeholder="Product price" readonly/> 
								</div>
							</div>
							<div class="control-group">
								<label for="total-price" class="control-label">Total price</label>
								<div class="controls">
									<input id="total-price"  th:field="*{totalPrice}" data-required="required" type="text" data-maxlength="50"
										class="include total-price-input" placeholder="Product price" readonly/> 
								</div>
							</div>
							</fieldset>
						</div>
					</div>
				</section>
			</form>

     <br>
     <br>
     <br>
			<section id="order-table">
					<div class="page-header sectionbartoggle" tabindex="0">
						<h1>
							<small><i class="icon-chevron-down"></i>Order table</small>
						</h1>
					</div>
					<a href="#" class="btn btn-warning" id="print" onclick="printContent('examples')">Print PDF</a>
					<div id="examples" class="row anything noheader" >
						<div class="span12">
						  		<table class="table-condensed table table-striped datatabled" id="testdisabledtable"  data-perpageprompt="Amount of data" data-filterprompt="Search data"    >
								    <thead>
								        <tr>
								            <th>Serial no</th>
								            <th>Order type</th>
								            <th>Product name</th>
								            <th>Product quantity</th>
								            <th>Product price</th>
								            <th>Total price</th>
								        </tr>
								    </thead>
								    <tbody>
								        <tr  th:each="product,num: ${order_details}" >
								            <td th:text="${num.count}"></td>
								            <td th:text="${product.orderType}"></td>
								            <td th:text="${product.productName}"></td>
								            <td th:text="${product.productQuantity}"></td>
								            <td th:text="${product.productPrice}" ></td>
								            <td th:text="${product.totalPrice}" ></td>
								        </tr>
								    </tbody>
								    <tfoot>
								        <tr>
								            <td></td>
								            <td></td>
								            <td></td>
								            <td></td>
								            <td></td>
								            <td style="font-weight:bold;"class="total-price-class">Total:</td>
								        </tr>
								    </tfoot>
								</table >
								<a th:href="@{/checkout}" class="btn btn-primary pull-right" id="checkout-button">Checkout</a>
						</div>
					</div>
			</section>
		</div>

		<span th:substituteby="commons :: common-html"></span>
		<span th:substituteby="commons :: common-js"></span>
		
		<script type="text/javascript">
		var price=0
		$('#selectwithinputs').change(function(){		
			 price=($('option:selected', this).attr('price'));
			 $(".price-input").val(price);
			 $(".total-price-input").val(price);
			 $(".qty-input").val(1);
			});
		$(document).ready(function(){
			$("#price").val("");
			$("#quantity").val("");
			  $(".qty-input").keyup(function(){
				  if($(".qty-input").val()>0)
					   $(".total-price-input").val($(".qty-input").val()*price);
				  else
					  $(".total-price-input").val(price);
			  });
			  
			  $(".qty-input").keyup(function(){
				  if(price==0){
					  alert("First select the product");
					  $(".qty-input").val(0)
				  }
			  });
				    var theTotal = 0;
				    $("table tbody td:nth-child(6)").each(function () {
				        var val = $(this).text().replace(" ", "").replace(",-", "");
				        theTotal += parseInt(val);
				    });
				    $(".total-price-class").text("Total is : "+theTotal);
				    
			}); 

		function printContent(el) {
	        var restorepage = document.body.innerHTML;
	        var printcontent = document.getElementById(el).innerHTML;
	        document.body.innerHTML = printcontent;
	        window.print();
	        document.body.innerHTML = restorepage;
	    }
		</script>
	</body>
</html>