<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>IMS</title>
		<span th:substituteby="commons :: common-css"></span>
	</head>
	<body th:with="isNew=${#strings.isEmpty(product.id)}">	
		<div id="headerbar" class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<span class="brand">Product</span>
					<div class="nav-collapse collapse">
						<ul class="nav pull-right" th:if="${isNew}">
							<li><a class="viewmode updatebutton addbutton submit" id="headerconfirmbutton" th:text="#{action.create}">Create</a></li>
							<li><a th:href="@{/}">Home</a></li>
							<li><a th:href="@{/product}">Product</a></li>
							<li><a th:href="@{/order}">Order</a></li>
						</ul>
						<ul class="nav pull-right" th:unless="${isNew}">
							<li><a class="editmode" id="addbutton" th:href="@{'/person'}" th:text="#{action.add}">Add</a></li>
							<li><a class="editmode" id="updatebutton" th:text="#{action.update}">Update</a></li>
							<li class="nodisplay"><a class="viewmode updatebutton addbutton submit" id="headerconfirmbutton" th:text="#{action.save}">Save</a></li>
							<li class="nodisplay"><a class="viewmode updatebutton" id="headercancelbutton" th:text="#{action.cancel}">Cancel</a></li>
						</ul>
						<form id="searchform" class="navbar-search pull-right" method="get" th:action="@{'/product/'}">
							<input id="datasearchfield" class="typeahead search-query" type="text" placeholder="Search" data-provide="typeahead" th:attr="data-search-url=@{'/search/product/'}" />
							<input class="typeahead-val" type="hidden" name="code" value="" />
							<input class="typeahead-desc" type="hidden" value="" />
						</form>
					</div>
				</div>
			</div>
		</div>
		<div id="container" class="container">		
		<header id="overview" class="subhead">
			<div class="subnav-fixed subnav" id="subnavscroll" style="top: 66px;">
				<ul class="nav nav-pills">
					<li class=""><a href="#add-product">Add product</a></li>
					<li class=""><a href="#product-table">Product table</a></li>
				</ul>
			</div>
		</header>
			<form id="mainform" th:object="${product}" class="form-horizontal" method="POST" autocomplete="off" th:action="@{'/product'}">
				<section id="add-product">
					<div class="page-header sectionbartoggle" tabindex="0">
						<h1>
							<small><i class="icon-chevron-down"></i><span>Add product</span></small>
						</h1>
					</div>
					<div class="row anything noheader">
						<div class="span6">
							<fieldset>						
								<div class="control-group">
									<label for="name" class="control-label">Product name</label>
									<div class="controls">
										<input id="name" data-required="required" th:field="*{productName}" type="text" data-maxlength="50"
											class="include" placeholder="Product name"/> 
									</div>
								</div>
								<div class="control-group">
									<label for="price" class="control-label">Product price</label>
									<div class="controls">
										<input id="price" data-required="required" th:field="*{productPrice}"  type="number" data-maxlength="50"
											class="include" placeholder="Product price" /> 
									</div>
								</div>
							</fieldset>
						</div>
						<div class="span6">
						 <fieldset>
						  		<div class="control-group">
									<label for="quantity" class="control-label" >Product quantity</label>
									<div class="controls">
										<input id="quantity"  data-required="required" th:field="*{productQuantity}" type="number" data-maxlength="50"
											class="include" placeholder="Product quantity" /> 
									</div>
								</div>
									<!--  for date format -->
								<div class="control-group">
									<label for="datepicker" class="control-label">Purchase date</label>
									<div class="controls">
										<div class="input-append">
											<input id="datepicker"	data-required="required" th:field="*{productDate}" class="input-datesize include con-datepicker con-presentdate" type="text"
												name="datepicker"/>
												<span class="add-on"><i	class="icon-calendar"></i></span>
										</div>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
				</section>
			</form>
		     <br>
		     <br>
		     <br>
			<section id="product-table">
					<div class="page-header sectionbartoggle" tabindex="0">
						<h1>
							<small><i class="icon-chevron-down"></i>Product table</small>
						</h1>
					</div>
					<div id="divTaskList" class="row anything noheader" >
						<div class="span12">
						  		<table class="table-condensed table table-striped datatabled" id="testdisabledtable"  data-perpageprompt="Amount of data" data-filterprompt="Search data"    >
								    <thead>
								        <tr>
								           
								            <th>Product Name</th>
								            <th>Product Price</th>
								            <th>Product Quantity</th>
								            <th data-defaultsort="desc">Date</th>
								        </tr>
								    </thead>
								    <tbody>
								        <tr  th:each="product,num: ${product_details}" >
								        	
								            <td th:text="${product.productName}"></td>
								            <td th:text="${product.productPrice}"></td>
								            <td th:text="${product.productQuantity}"></td>
								            <td th:text="${product.productDate}" ></td>
								        </tr>
								    </tbody>
								</table>
						</div>
					</div>
			</section>
		</div>
		<span th:substituteby="commons :: common-html"></span>
		<span th:substituteby="commons :: common-js"></span>
		<script type="text/javascript">
		$(document).ready(function(){
			$("#price").val("");
			$("#quantity").val("");
			}); 
		</script>
	</body>
</html>